<h1><%= @team.title %></h1>
<h2><%= @team.description %></h2>
<hr>
<section class="wrapper">

  

<div class="row">
  <div class="col-lg-3">
                        <!--widget start-->
                        <aside class="profile-nav alt green-border">
                            <section class="panel">
                                <div class="user-heading alt green-bg">
                                  <a href="#">
                                      <img alt="" src="img/profile-avatar.jpg">
                                  </a>
                                  <div class="row">
                                <h3><%= link_to 'Memebers'%></h3>
                                      </div>
                                        <div class="row">
                                    <h4>People Directory</h4>
                                  </div>
                                </div>

                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="javascript:;"> <i class="fa fa-clock-o"></i> Number of people <span class="label label-primary pull-right r-activity">19</span></a></li>

                                </ul>

                            </section>
                        </aside>
                        </div>



  <div class="col-lg-3">
                        <!--widget start-->
                        <aside class="profile-nav alt green-border">
                            <section class="panel">
                                <div class="user-heading alt green-bg">
                                  <a href="#">
                                      <img alt="" src="img/profile-avatar.jpg">
                                  </a>
                                  <div class="row">
                                <h3><%= link_to 'Message Board', team_messages_path(@team) %></h3>
                                      </div>
                                        <div class="row">
                                    <h4>Public Message Board</h4>
                                  </div>
                                </div>

                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="javascript:;"> <i class="fa fa-clock-o"></i> Announcement<span class="label label-primary pull-right r-activity">19</span></a></li>
                                    <li><a href="javascript:;"> <i class="fa fa-calendar"></i> FYI <span class="label label-info pull-right r-activity">11</span></a></li>
                                    <li><a href="javascript:;"> <i class="fa fa-bell-o"></i> Ideas <span class="label label-warning pull-right r-activity">03</span></a></li>
                                    <li><a href="javascript:;"> <i class="fa fa-envelope-o"></i> Something else <span class="label label-success pull-right r-activity">10</span></a></li>
                                </ul>

                            </section>
                        </aside>
                        </div>

                        <div class="col-lg-3">
                                              <!--widget start-->
                                              <aside class="profile-nav alt green-border">
                                                  <section class="panel">
                                                      <div class="user-heading alt green-bg">
                                                        <a href="#">
                                                            <img alt="" src="img/profile-avatar.jpg">
                                                        </a>
                                                        <div class="row">
                                                      <h3><%= link_to 'Chat'%></h3>
                                                            </div>
                                                              <div class="row">
                                                          <h4>Chat Rooms</h4>
                                                        </div>
                                                      </div>

                                                      <ul class="nav nav-pills nav-stacked">
                                                          <li><a href="javascript:;"> <i class="fa fa-clock-o"></i>Members online <span class="label label-primary pull-right r-activity">19</span></a></li>
                                                          <li><a href="javascript:;"> <i class="fa fa-calendar"></i> Memebers offline<span class="label label-info pull-right r-activity">11</span></a></li>

                                                      </ul>

                                                  </section>
                                              </aside>
                                              </div>

</div>


<!--2nd row starts  -->
<div class="row">

<div class="col-lg-3">
                      <!--widget start-->
                      <aside class="profile-nav alt green-border">
                          <section class="panel">
                              <div class="user-heading alt green-bg">
                                <a href="#">
                                    <img alt="" src="img/profile-avatar.jpg">
                                </a>
                                <div class="row">
                              <h4><%= link_to 'Tasks', team_tasks_path(@team) %></h4>
                                    </div>
                                      <div class="row">
                                  <p>To-do List</p>
                                </div>
                              </div>

                              <ul class="nav nav-pills nav-stacked">
                                  <li><a href="javascript:;"> <i class="fa fa-clock-o"></i> Overdue <span class="label label-primary pull-right r-activity">19</span></a></li>
                                  <li><a href="javascript:;"> <i class="fa fa-calendar"></i> Priority <span class="label label-info pull-right r-activity">11</span></a></li>
                                  <li><a href="javascript:;"> <i class="fa fa-bell-o"></i> Completed <span class="label label-warning pull-right r-activity">03</span></a></li>
                                  <li><a href="javascript:;"> <i class="fa fa-envelope-o"></i> New Tasks <span class="label label-success pull-right r-activity">10</span></a></li>
                              </ul>

                          </section>
                      </aside>
                      </div>

                      <div class="col-lg-3">
                                            <!--widget start-->
                                            <aside class="profile-nav alt green-border">
                                                <section class="panel">
                                                    <div class="user-heading alt green-bg">
                                                      <a href="#">
                                                          <img alt="" src="img/profile-avatar.jpg">
                                                      </a>
                                                      <div class="row">
                                                    <h4><%= link_to 'Events',team_events_path(@team)%></h4>
                                                          </div>
                                                            <div class="row">
                                                        <p>Events Schedule</p>
                                                      </div>
                                                    </div>

                                                    <ul class="nav nav-pills nav-stacked">
                                                        <li><a href="javascript:;"> <i class="fa fa-clock-o"></i> Upcoming Events <span class="label label-primary pull-right r-activity">19</span></a></li>
                                                        <li><a href="javascript:;"> <i class="fa fa-calendar"></i> Past Events <span class="label label-info pull-right r-activity">11</span></a></li>

                                                    </ul>

                                                </section>
                                            </aside>
                                            </div>

                                            <div class="col-lg-3">
                                                                  <!--widget start-->
                                                                  <aside class="profile-nav alt green-border">
                                                                      <section class="panel">
                                                                          <div class="user-heading alt green-bg">
                                                                            <a href="#">
                                                                                <img alt="" src="img/profile-avatar.jpg">
                                                                            </a>
                                                                            <div class="row">
                                                                          <h4><%= link_to 'Documents and files', team_documents_path(@team)%></h4>
                                                                                </div>
                                                                                  <div class="row">
                                                                              <p>Public Message Board</p>
                                                                            </div>
                                                                          </div>

                                                                          <ul class="nav nav-pills nav-stacked">
                                                                              <li><a href="javascript:;"> <i class="fa fa-clock-o"></i> Number of documents <span class="label label-primary pull-right r-activity">19</span></a></li>

                                                                          </ul>

                                                                      </section>
                                                                  </aside>
                                                                  </div>

</div>
</section>
