

<h1 style="padding-left: 35px; font-family: 'Play', sans-serif;"><%= @team.title %></h1>
<h5 style="padding-left: 35px; font-family: 'Play', sans-serif;"><%= @team.description %></h5>
<hr>
<script>
        jQuery(document).ready(function() {
            DraggablePortlet.init();
        });
    </script>



              <!-- page start-->
              <div class="row-fluid" id="draggable_portlets">
                  <div class="col-md-4 column sortable">
                      <!-- BEGIN Portlet PORTLET-->
                      <div class="panel panel-default ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Members', team_users_path(@team)%></div>
                          <div class="panel-body">
                            People Directory
                          </div>
                      </div>

                      <!-- END Portlet PORTLET-->


                      <!-- BEGIN Portlet PORTLET-->
                      <div class="panel panel-info ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Message Board', team_messages_path(@team) %></div>
                          <div class="panel-body">
                              Public Message Board
                          </div>
                      </div>

                      <!-- END Portlet PORTLET-->
                      <!-- BEGIN Portlet PORTLET-->
                      <div class="panel panel-success ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Todo List', team_tasks_path(@team) %></div>
                          <div class="panel-body">
                              List all the tasks under this team.
                          </div>
                      </div>

                      <!-- END Portlet PORTLET-->
                  </div>
                  <div class="col-md-4 column sortable">
                      <!-- BEGIN Portlet PORTLET-->
                      <div class="panel panel-warning ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Events',team_events_path(@team)%></div>
                          <div class="panel-body">
                              Team Schedule. Important Dates.
                          </div>
                      </div>

                      <!-- END Portlet PORTLET-->
                      <!-- BEGIN Portlet PORTLET-->
                      <div class="panel panel-danger ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Documents and files', team_documents_path(@team)%></div>
                          <div class="panel-body">
                              Document / Files / Images
                          </div>
                      </div>

                      <!-- END Portlet PORTLET-->
                      <!-- BEGIN Portlet PORTLET-->
                      <div class="panel panel-info ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Chat', chat_path%></div>
                          <div class="panel-body">
                            Chat Room
                          </div>
                      </div>

                      <!-- END Portlet PORTLET-->

                  </div>
                  <div class="col-md-4 column sortable">

                      <!-- BEGIN Portlet PORTLET-->

                      <div class="panel panel-success ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Locations', nearby_teams_path %></div>
                          <div class="panel-body">
                            Nearby Members/Teams/Events
                          </div>
                      </div>

                      <!-- END Portlet PORTLET-->
                      <div class="panel panel-default ui-sortable-handle" style="
                          border-left-width: 20px;
                          margin-left: 20px;
                          margin-top: 20px;
                          margin-bottom: 40px;
                      ">
                          <div class="panel-heading"><%= link_to 'Add something else...'%></div>
                          <div class="panel-body">
                            Something new!
                          </div>
                      </div>


                  </div>

              </div>

              <!-- page end-->
