<h1>Dashboard</h1>
<hr>
<%= month_calendar do |date| %>
  <%= date %>
<% end %>
<h2>My Stuff</h2>
<h3>My To-do List</h3>

<h5>The To-dos I created</h5>
<% if user_signed_in? %>
<ul>
<% @tasks.each do |task| %>
<li><%= link_to task.body, team_task_path(task.team, task) %><br>
  From Team: <%= link_to task.team.title, team_path(task.team_id) %>
</li>
<br>
<% end %>
</ul>
<% end %>

<h5>The To-dos assigned to me</h5>
<% if user_signed_in? %>
<ul>
  <% @user.assigned_tasks.each do |task| %>
  <li><%= link_to task.body,team_task_path(task.team, task) %><br>
  From Team: <%= link_to task.team.title,team_path(task.team_id) %>
  </li>
  <br>
<% end %>
</ul>
<% end %>



<h3>My Bookmarks</h3>
<h3>My Schedule</h3>
<h3>My Toolbox</h3>

<hr>
<h2>Teams</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  New Team
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Team</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @newteam do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.file_field :documents, multiple: true %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
      </div>

    </div>
  </div>
</div>



<% @teams.each do |team| %>
<p><%= link_to team.title, team_path(team.id) %></p>

<% end %>
<hr>
<h2>Projects</h2>
