<h1>Dashboard</h1>
<hr>
<%= month_calendar do |date| %>
  <%= date %>
<% end %>
<h2>My Stuff</h2>
<h3>My To-do List</h3>

<h5>The To-dos I created</h5>
<% if user_signed_in? %>
<ul>
<% @tasks.each do |task| %>
<li><%= link_to task.body, team_task_path(task.team, task) %><br>
  From Team: <%= link_to task.team.title, team_path(task.team_id) %>
</li>
<br>
<% end %>
</ul>
<% end %>

<h5>The To-dos assigned to me</h5>
<% if user_signed_in? %>
<ul>
  <% @user.assigned_tasks.each do |task| %>
  <li><%= link_to task.body,team_task_path(task.team, task) %><br>
  From Team: <%= link_to task.team.title,team_path(task.team_id) %>
  </li>
  <br>
<% end %>
</ul>
<% end %>





<hr>
<h2>Teams</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  New Team
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Team</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @newteam do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.file_field :documents, multiple: true %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
      </div>

    </div>
  </div>
</div>



<% @teams.each do |team| %>
<p><%= link_to team.title, team_path(team.id) %></p>

<% end %>
<hr>
<h2>Projects</h2>

                            <!-- Todolist start-->
                            <section class="wrapper">
                            <div class="row">
                            <header class="panel-heading">
                                <h2>Todo list</h2>

                            </header>
                            <div class="row">
                                <div class="col-md-6">
                                    <section class="panel tasks-widget">
                                        <header class="panel-heading">

                                            <p>Tasks that assigned to me</p>
                                        </header>

                                        <% if user_signed_in? %>

                                        <div class="panel-body">

                                            <div class="task-content">

                                                <ul class="task-list">
                                                  <% @user.assigned_tasks.each do |task| %>
                                                    <li>
                                                        <div class="task-checkbox">
                                                            <input type="checkbox" class="list-child" value=""  />
                                                        </div>
                                                        <div class="task-title">
                                                            <span class="task-title-sp"><%= link_to task.body,team_task_path(task.team, task) %></span>
                                                            <span class="badge badge-sm label-danger"><%= link_to task.team.title,team_path(task.team_id) %></span>
                                                            <div class="pull-right hidden-phone">
                                                                <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                                                                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <% end %>


                                                </ul>


                                            </div>

                                            <div class=" add-task-row">
                                                <a class="btn btn-success btn-sm pull-left" href="#">Add New Tasks</a>
                                                <a class="btn btn-default btn-sm pull-right" href="#">See All Tasks</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                                <div class="col-md-6">
                                    <section class="panel tasks-widget">
                                        <header class="panel-heading">

                                            <p>Tasks that I created</p>
                                        </header>
                                        <div class="panel-body">

                                            <div class="task-content">


                                              <% @tasks.each do |task| %>
                                                <ul class="task-list">
                                                    <li>
                                                        <div class="task-checkbox">
                                                            <input type="checkbox" class="list-child" value=""  />
                                                        </div>
                                                        <div class="task-title">
                                                            <span class="task-title-sp"><%= link_to task.body, team_task_path(task.team, task) %></span>
                                                            <span class="badge badge-sm label-success"><%= link_to task.team.title, team_path(task.team_id) %></span>
                                                            <div class="pull-right hidden-phone">
                                                                <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
                                                                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <% end %>

                                                    <% end %>
                                                  </ul>
                                            </div>

                                            <div class=" add-task-row">
                                                <a class="btn btn-success btn-sm pull-left" href="#">Add New Tasks</a>
                                                <a class="btn btn-default btn-sm pull-right" href="#">See All Tasks</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                          </div>
                        </section>
