
<div class="row">


<div class="panel-body">
                              <a class="btn btn-info btn-lg" data-toggle="modal" href="#myModal" style="position: relative; left: 42.1%; top: 50%">
                                  Post a New Message
                              </a>
</div>
<br>
                              <!-- Modal -->
                              <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                              <h4 class="modal-title">New Message</h4>
                                          </div>
                                          <div class="modal-body">

                                              <%= simple_form_for [@team, @newmessage] do |f| %>
                                              <%= f.input :title, label: 'Message Title' %>
                                              <%= f.input :description %>

                                              <%= f.association :tags,
                                                  collection: Tag.all,
                                              input_html: { class: 'chosen-select input-new-line', style: 'width: 400px'} %>

                                              <div class="control-group">
                                                  <div class="attach-set">
                                                      <%= f.file_field :documents, multiple: true, input_html: {class: 'hidden-input'}%>
                                                      <div class="input-append">
                                                        <a id="upload-btn" class="btn">
                                                          <i class="fa fa-files-o"></i>
                                                            </a>
                                                          <input id="file-display" class="input-large uneditable-input" type="text" style = "width: 566px">

                                                      </div>
                                                  </div>
                                                  <!-- /attach-set -->
                                              </div>
                                              <!-- /control-group -->
                                          </div>
                                          <div class="modal-footer">
                                              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                                              <%= f.submit 'Submit', class: 'btn btn-success' %>
                                              <% end %>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- modal -->

<!--features carousel start-->
<div class="row">


<section class="panel">
    <div id="c-slide" class="carousel slide auto panel-body">
        <ol class="carousel-indicators out">
            <li class="active" data-slide-to="0" data-target="#c-slide"></li>
            <li class="" data-slide-to="1" data-target="#c-slide"></li>
            <li class="" data-slide-to="2" data-target="#c-slide"></li>
            <li class="" data-slide-to="3" data-target="#c-slide"></li>
            <li class="" data-slide-to="4" data-target="#c-slide"></li>
            <li class="" data-slide-to="5" data-target="#c-slide"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item text-center active">
                <h3>Annoucement</h3>
                <small class="text-muted">Public Announcement</small>
            </div>
            <div class="item text-center">
                <h3>FYI</h3>
                <small class="text-muted">For Y'all Information</small>
            </div>
            <div class="item text-center">
                <h3>Questions</h3>
                <small class="text-muted">Please help...</small>
            </div>

            <div class="item text-center">
                <h3>Ideas</h3>
                <small class="text-muted">I have a great idea!</small>
            </div>
            <div class="item text-center">
                <h3>Benchmark</h3>
                <small class="text-muted">Let's celebrate!</small>
            </div>
            <div class="item text-center">
                <h3>Something else</h3>
                <small class="text-muted">I don't belong anywhere...</small>
            </div>
        </div>
        <a data-slide="prev" href="#c-slide" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
        </a>
        <a data-slide="next" href="#c-slide" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

    <div class="panel-body">
        <ul class="ft-link">
            <li>
                <a href="javascript:;">
                    <i class="fa fa-bars"></i>
                    Annoucement
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-calendar-o"></i>
                    FYI
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-camera"></i>
                    Questions
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-circle"></i>
                    Ideas
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-circle"></i>
                    Benchmark
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-circle"></i>
                    Something else
                </a>
            </li>
        </ul>
    </div>

</section>
<section class="panel">
<section class="wrapper" style="margin-top: 15px">
  <% @messages.each do |message| %>
                <div class="row">
                        <div class="panel-body" style="padding-top: 2px; padding-left: 40px">
                            <div class="fb-user-details">
                                <h3>
                                    <%= link_to message.title,team_message_path(@team, message)  %>
                                </h3><br>
                                  <ul class="p-tag-list" style = "padding-left: 0px">
                                    <% message.tags.each do |t| %>

                                    <li><a href=""><i class="fa fa-tag"></i> <%= t.name %></a></li>

                                    <% end %>
                                    </ul>
                                <p>Created at:
                                    <%= time_ago_in_words(message.created_at) %> ago</p>
                            </div>
                            <div class="clearfix"></div>
                            <h4>
                                <%= message.description %>
                            </h4>
                            <% if message.documents.present? %>
                            <% message.documents.each do |doc| %>
                            <%= image_tag 'zip.png' %>
                            <%= link_to doc.filename , doc.url  %>
                            <br>
                            <% end %>
                            <% end %>
                          <br>

                          <div class="fb-status-container fb-border fb-gray-bg">
                            <div class="fb-status-container fb-border">
                                <div class="fb-time-action" id="accordion-<%= message.id %>">
                                    <a href="#" title="Like this">Like</a>
                                    <span>-</span>

                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-<%= message.id %>" href="#collapseComment-<%= message.id %>">Recent Comments</a>
                                    <% message.comments.last(3).each do |comment| %>
                                    <div id="collapseComment-<%= message.id %>" class="panel-collapse collapse">
                                        <br>
                                        <ul>
                                            <li>
                                                <div class="cmt-details">

                                                    <p><%= comment.content %></p>

                                                    <p>
                                                        <%= comment.user.first_name %>
                                                        <%= comment.user.last_name %>

                                                    </p>
                                                    <p><%= time_ago_in_words(comment.created_at) %> ago

                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <% end %>

  </secion>
</section>

<!--features carousel end-->


<script>

    $(document).ready(function () {
        $("#owl-demo").owlCarousel({navigation: true, slideSpeed: 300, paginationSpeed: 400, singleItem: true, autoPlay: true});
        $('#myModal').on('shown.bs.modal', function () {
          $('.chosen-select', this).chosen('destroy').chosen();
        });
    });



    // custom select box

    // $(function () {
    //     $('select.styled').customSelect();
    // });
    //
    // $(window).on("resize", function () {
    //     var owl = $("#owl-demo").data("owlCarousel");
    //     owl.reinit();
    // });
</script>
