<h1>Message Board</h1>
<script>

    $(document).ready(function () {
        $("#owl-demo").owlCarousel({navigation: true, slideSpeed: 300, paginationSpeed: 400, singleItem: true, autoPlay: true});
    });

    // custom select box

    $(function () {
        $('select.styled').customSelect();
    });

    $(window).on("resize", function () {
        var owl = $("#owl-demo").data("owlCarousel");
        owl.reinit();
    });
</script>
<!--carousel start-->

<!--features carousel start-->
<section class="panel">
    <div id="c-slide" class="carousel slide auto panel-body">
        <ol class="carousel-indicators out">
            <li class="active" data-slide-to="0" data-target="#c-slide"></li>
            <li class="" data-slide-to="1" data-target="#c-slide"></li>
            <li class="" data-slide-to="2" data-target="#c-slide"></li>
            <li class="" data-slide-to="3" data-target="#c-slide"></li>
            <li class="" data-slide-to="4" data-target="#c-slide"></li>
            <li class="" data-slide-to="5" data-target="#c-slide"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item text-center active">
                <h3>Annoucement</h3>
                <small class="text-muted">Public Announcement</small>
            </div>
            <div class="item text-center">
                <h3>FYI</h3>
                <small class="text-muted">For Y'all Information</small>
            </div>
            <div class="item text-center">
                <h3>Questions</h3>
                <small class="text-muted">Please help...</small>
            </div>

            <div class="item text-center">
                <h3>Ideas</h3>
                <small class="text-muted">I have a great idea!</small>
            </div>
            <div class="item text-center">
                <h3>Benchmark</h3>
                <small class="text-muted">Let's celebrate!</small>
            </div>
            <div class="item text-center">
                <h3>Something else</h3>
                <small class="text-muted">I don't belong anywhere...</small>
            </div>
        </div>
        <a data-slide="prev" href="#c-slide" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
        </a>
        <a data-slide="next" href="#c-slide" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

    <div class="panel-body">
        <ul class="ft-link">
            <li class="active">
                <a href="javascript:;">
                    <i class="fa fa-bars"></i>
                    Annoucement
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-calendar-o"></i>
                    FYI
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-camera"></i>
                    Questions
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-circle"></i>
                    Ideas
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-circle"></i>
                    Benchmark
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class=" fa fa-circle"></i>
                    Something else
                </a>
            </li>
        </ul>
    </div>

</section>
<section class="panel">
<section class="wrapper" style="margin-top: 15px">
  <% @messages.each do |message| %>
                <div class="row">
                        <div class="panel-body" style="padding-top: 2px">
                            <div class="fb-user-details">
                                <h3>
                                    <%= link_to message.title,team_message_path(@team, message)  %>
                                </h3><br>
                                <p>Category:
                                    <%= message.category %></p>
                                <p>Created at:
                                    <%= time_ago_in_words(message.created_at) %> ago</p>
                            </div>
                            <div class="clearfix"></div>
                            <h4>
                                <%= message.description %>
                            </h4>
                            <% if message.documents.present? %>
                            <% message.documents.each do |doc| %>
                            <%= image_tag 'zip.png' %>
                            <%= link_to doc.filename , doc.url  %>
                            <br>
                            <% end %>
                            <% end %>
                          <br>

                          <div class="fb-status-container fb-border fb-gray-bg">
                            <div class="fb-status-container fb-border">
                                <div class="fb-time-action">
                                    <a href="#" title="Like this">Like</a>
                                    <span>-</span>
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseComment">Recent Comments</a>
                                    <% message.comments.last(3).each do |comment| %>
                                    <div id="collapseComment" class="panel-collapse collapse">
                                        <br>
                                        <ul>
                                            <li>
                                                <div class="cmt-details">

                                                    <p><%= comment.content %></p>

                                                    <p>
                                                        <%= comment.user.first_name %>
                                                        <%= comment.user.last_name %>

                                                    </p>
                                                    <p><%= time_ago_in_words(comment.created_at) %> ago

                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <% end %>

  </secion>
</section>
<!--features carousel end-->
