<div class="row">
	<section class="panel">
		<div class="panel-body">
			<div class="">
			<h2><%= @message.title %></h2><br>

			<p>Tags:
				<% @message.tags.each do |t| %>
				<strong><%= t.name %></p></strong><% end %><br>
			<h4><%= @message.description %></h4>
			</div>
			<br>
			<div class="fb-user-thumb">
				<%= image_tag 'avatar-mini'%>
			</div>
			<div class="fb-user-details">
				<h3>
					<%= @message.user.first_name %> <%= @message.user.last_name %>
				</h3>
				<p><%= time_ago_in_words(@message.created_at) %>
				ago</p>
			</div>
			<div class="clearfix"></div>
			<br>

			<% if @message.documents.present? %>
			<% @message.documents.each do |doc| %>
			<%= image_tag 'zip.png' %>
			<%= link_to doc.filename , doc.url  %>

			<% end %>
			<% end %>


			<div class="fb-time-action">
				<% if @message.user_id == current_user.id %>
				<%= link_to "Edit", edit_team_message_path(@team, @message) %>
				<span>-</span>
				<%= link_to "Delete", team_message_path(@team, @message), method: :delete, data: { confirm: "Are you sure?" } %>

				<span>-</span>
				<% end %>
				<a href="#" title="Like this">Like</a>
				<span>-</span>
				<a href="#" title="Leave a comment">Comments</a>

			</div>

			<div class="fb-status-container fb-border fb-gray-bg">


				<ul class="fb-comments">
					<% @comments.each do |comment| %>
						<% if comment.user_id %>

					<li>
						<a class="cmt-thumb" href="#">
							<img_tag = 'mail-avatar.jpg'>
						</a>
						<div class="fb-time-action">
							<a href="#"><%= comment.user.first_name %> <%= comment.user.last_name %></a>
							<span>
								<%= comment.content %>
							</span>

							<% if comment.documents.present? %>
							<% comment.documents.each do |doc| %>
							<%= image_tag 'zip.png' %>
							<%= link_to doc.filename , doc.url  %>
							<br>
							<% end %>
							<% end %>

							<br>
							<% if comment.user_id == current_user.id %>
							<br>
							<p><%= time_ago_in_words(comment.created_at) %>
							ago</p>
							<%= link_to "Edit", edit_team_message_comment_path(comment.message.team, comment.message, comment) %>
							<span>-</span>
							<%= link_to "Delete", team_message_comment_path(comment.message.team, comment.message, comment), method: :delete, data: { confirm: "Are you sure?" } %>
							<% end %>
						</div>
					</li>
					<% end %>
					<% end %>
					<li>

						<div class="cmt-form">
							<%= render 'comments/form' %>
						</div>
					</li>
				</ul>

				<div class="clearfix"></div>

			</div>

		</div>
	</section>
</div>
