<li>
  <h3 style ="opacity: 0.5"><strike><%= link_to task.body, team_task_path(@team, task) %></strike></h3>
</li>

<p style = "opacity: 0.5">Completed <%= time_ago_in_words(task.completed_at)  %> ago</p>
<!--
<%= render "task_footer", task: task %> -->


<%= link_to team_task_path(@team, task), method: :delete, data: { confirm: "Are you sure?" } do %>
  <i class="fa fa-trash fa-lg"></i>
<% end %>

<% if task.has_author? %>
  <p>Author: <%= task.user.first_name %> </p>
<% end %>

<p>Assignees: <%= task.assignee_short_names %> </p>
