<h1>Task</h1>

<% if user_signed_in? %>
	<ul>
		<% @tasks.each do |task| %>
			<% if task.complete? %>
				<%= render "completed", task: task %>
  		<% else %>
  			<%= render "not_completed", task: task %>
			<% end %>
		<% end %>
	</ul>

	<%= simple_form_for [@team, @task] do |f| %>
		<%= f.input :body, label: "New todos..." %>
	
		<%= f.association :assignees,
											collection: User.all,
											label_method: :first_name,
											include_blank: true,
		input_html: { class: 'chosen-select input-new-line',
																					 style: 'width: 400px' } %>
		<%= f.file_field :documents, multiple: true %>
		<%= f.submit 'Submit', class: 'btn btn-primary' %>
	<% end %>

<% end %>
