<h1>Task</h1>



<div class="row">
                  <div class="col-md-12">
                      <section class="panel tasks-widget">
                          <header class="panel-heading">

                          </header>
                          <div class="panel-body">
                              <div class="task-content">

                                  <ul id="sortable" class="task-list">
																		<% @tasks.each do |task| %>
                                      <li class="list-primary">
                                          <i class=" fa fa-ellipsis-v"></i>
                                          <div class="task-checkbox">
                                              <input type="checkbox" class="list-child" value=""  />
                                          </div>
                                          <div class="task-title">
                                              <span class="task-title-sp">Flatlab is Modern Dashboard</span>
                                              <span class="badge badge-sm label-success">2 Days</span>
                                              <div class="pull-right hidden-phone">
                                                  <button class="btn btn-success btn-xs fa fa-check"></button>
                                                  <button class="btn btn-primary btn-xs fa fa-pencil"></button>
                                                  <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                              </div>
                                          </div>
                                      </li>
																			<% end %>

                                  </ul>
                              </div>
                              <div class=" add-task-row">
                                  <a class="btn btn-success btn-sm pull-left" href="#">Add New Tasks</a>
                                  <a class="btn btn-default btn-sm pull-right" href="#">See All Tasks</a>
                              </div>
                          </div>
                      </section>
                  </div>
              </div>




<% if user_signed_in? %>
<ul>
<% @tasks.each do |task| %>
<% if task.complete? %>
<%= render "completed", task: task %>
<% else %>
<%= render "not_completed", task: task %>
<% end %>
<% end %>
</ul>

<%= simple_form_for [@team, @task] do |f| %>
<%= f.input :body, label: "New todos..." %>

<%= f.association :assignees,
											collection: User.all,
											label_method: :first_name,
											include_blank: true,
		input_html: { class: 'chosen-select input-new-line',
																					 style: 'width: 400px' } %>
<%= f.file_field :documents, multiple: true %>
<%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>

<% end %>


    <script>
      jQuery(document).ready(function() {



      $(function() {
          $( "#sortable" ).sortable();
          $( "#sortable" ).disableSelection();
      })
			  });

    </script>
