<h1>Team calendar</h1>




<hr>
<%= month_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
   <div>
<button type="button" class="btn btn" data-toggle="popover" title="event title" data-content=' body?'>
<strong><%= event.name %></strong></button>




   </div>
 <% end %>
<% end %>


<h3>New Event</h3>
<%= simple_form_for [@team, @event] do |f|%>
<%= f.input :name %>
<%= f.input :body %>
<%= f.input :start_time %>
<%= f.input :end_time %>
<%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>



 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
 $( function() {
   $( "#sortable" ).sortable({
     revert: true
   });
   $( "#draggable" ).draggable({
     connectToSortable: "#sortable",
     helper: "clone",
     revert: "invalid"
   });
   $( "ul, li" ).disableSelection();
 } );
 </script>
</head>
<body>

<ul>
 <li id="draggable" class="ui-state-highlight">Drag me down</li>
</ul>

<ul id="sortable">
 <li class="ui-state-default">Item 1</li>
 <li class="ui-state-default">Item 2</li>
 <li class="ui-state-default">Item 3</li>
 <li class="ui-state-default">Item 4</li>
 <li class="ui-state-default">Item 5</li>
</ul>
