<h1>Documents</h1>

<!-- <% if @team.documents.present? %>
<% @team.documents.each do |doc| %>
<%= link_to doc.filename , doc.url  %>
<%= image_tag 'google.png' %>
<% end %>
<% end %>

<hr>

<% @tasks.each do |task|%>
<% if task.documents.present? %>
<% task.documents.each do |doc| %>
<%= link_to doc.filename , doc.url  %>
<%= image_tag 'google.png' %>
<% end %>
<% end %>
<% end %>
<hr>

<% @messages.each do |message| %>
<% if message.documents.present? %>
<% message.documents.each do |doc| %>
<%= link_to doc.filename , doc.url  %>
<%= image_tag 'google.png' %>
<% end %>
<% end %>
<% message.comments.each do |comment| %>
<% if comment.documents.present? %>
<% comment.documents.each do |doc| %>
<%= link_to doc.filename , doc.url  %>
<%= image_tag 'google.png' %>
<% end %>
<% end %>
<% end %>
<% end %> -->

<div class="row">
<section class="panel">

                <div class="panel-body">
                    <table class="table table-hover file-search">



                        <thead>
                        <tr>
                            <th>File Name &amp; Location</th>
                            <th class="hidden-phone">Created at</th>
                            <th class="hidden-phone">Uploaded by</th>
                            <th>Size</th>
                            <th class="hidden-phone">Type</th>
                        </tr>
                        </thead>
                        <tbody>

                          <% if @team.documents.present? %>
                          <% @team.documents.each do |doc| %>
                        <tr>
                            <td>
                              <i class="fa fa-file-text"></i>
                                <strong> <%= doc.filename%></strong>
                                <span><%= link_to doc.url , doc.url  %></span>

                            </td>
                            <td class="hidden-phone">01.01.2012	</td>
                            <td class="hidden-phone">12.05.2013</td>
                            <td>193 KB</td>
                            <td class="hidden-phone">File</td>
                        </tr>
                        <% end %>
                        <% end %>


                        <% @tasks.each do |task|%>
                        <% if task.documents.present? %>
                        <% task.documents.each do |doc| %>

                        <tr>
                          <td>
                            <i class="fa fa-file-text"></i>
                              <strong> <%= doc.filename%></strong>
                              <span><%= link_to doc.url , doc.url  %></span>

                          </td>
                            <td class="hidden-phone">01.01.2012	</td>
                            <td class="hidden-phone">12.05.2013</td>
                            <td>193 KB</td>
                            <td class="hidden-phone">File</td>
                        </tr>
                        <tr>
                          <% end %>
                          <% end %>
                          <% end %>


                          <% @messages.each do |message| %>
                          <% if message.documents.present? %>
                          <% message.documents.each do |doc| %>

                          <tr>
                            <td>
                              <i class="fa fa-file-text"></i>
                                <strong> <%= doc.filename%></strong>
                                <span><%= link_to doc.url , doc.url  %></span>
                            </td>
                              <td class="hidden-phone">01.01.2012	</td>
                              <td class="hidden-phone">12.05.2013</td>
                              <td>193 KB</td>
                              <td class="hidden-phone">File</td>
                          </tr>
                          <% end %>
                          <% end %>
                          <% message.comments.each do |comment| %>
                          <% if comment.documents.present? %>
                          <% comment.documents.each do |doc| %>
                          <tr>
                            <td>
                              <i class="fa fa-file-text"></i>
                                <strong> <%= doc.filename%></strong>
                                <span><%= link_to doc.url , doc.url  %></span>
                            </td>
                              <td class="hidden-phone">01.01.2012	</td>
                              <td class="hidden-phone">12.05.2013</td>
                              <td>193 KB</td>
                              <td class="hidden-phone">File</td>
                          </tr>

                          <% end %>
                          <% end %>
                          <% end %>
                          <% end %>


                        </tbody>
                    </table>

                    <div class="text-center">
                        <ul class="pagination">
                            <li><a href="#">«</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </section>
          </div>
