<h1>Events for  <%= @user.first_name %> <%= @user.last_name %></h1>
<% @events.each do |e| %>

    title: "<%= e.name %>",
    start: "<%= e.start_time%>"
    end: "<%= e.end_time %>"
<br><br>
<% end %>
