<!DOCTYPE html>
<html>
  <head>
    <title>Pmanagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body>


      <% if user_signed_in? %>
        Hello <%= current_user.first_name %>,
        <%= link_to 'Sign Out', sessions_path, method: :delete %>
        |
        <%= link_to 'Dashboard', root_path %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        |
        <%= link_to 'Log In', new_session_path %>
      <% end %>
      <hr>
      <% if flash[:notice] %>
        <div class="flash-notice"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="flash-alert"><%= flash[:alert] %></div>
      <% end %>
      <div class='container-fluid'>
        <%= yield %>
      </div>
    </body>
  </html>
